@media screen and (max-width: 1440px) {
    .container {
        padding-left: calc(50% - 930px/2);
        padding-right: calc(50% - 930px/2);
    }
    /* Header */
    .header {
        padding: 30px 0;
    }
    .header__logo-img {
        width: 89px;
    }
    .header__menu-link {
        font-size: 1rem;
    }
    .btn--header {
        width: 160px;
        height: 50px;
        font-size: 1.1rem;
    }
    /* Learning */
    .learning {
        margin-bottom: 37px;
    }
    .learning-title-flex {
        gap: 15px;
    }
    .learning-content__title {
        width: 290px;
        font-size: 3rem;
    }
    .learning-content__img {
        width: 78px;
    }
    .learning-content__paragraph {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    .btn--large {
        width: 292px;
        padding: 22px 0;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    /* Skills */
    .skills__title {
        font-size: 2.25rem;
        margin-bottom: 60px;
    }
    .skills__item {
        padding: 0px 30px 30px 30px;
    }
    .skills__item-title {
        font-size: 1.4rem;
    }
    .skills__item-paragraph {
        font-size: 0.9rem;
    }
    .btn--skills {
        width: 196px;
        font-size: 1.25rem;
    }

}