@media screen and (max-width: 992px) {
    .container {
        padding: 0 30px;
    }
    /* Header */
    .header {
        padding: 25px 0;
        margin-bottom: 55px;
    }
    .header__logo-img {
        width: 89px;
    }
    .header-menu {
        gap: 15px;
    }
    .header__menu-link {
        font-size: 16px;
        line-height: 24px;
    }
    .btn--header {
        width: 160px;
        height: 50px;
        font-size: 18px;
        line-height: 27px;
    }
    /* Learning */
    .learning {
        margin-bottom: 27px;
    }
    .learning-title-flex {
        gap: 35px;
        margin-bottom: 25px;
    }
    .learning-content__title {
        max-width: 290px;
        font-size: 48px;
        line-height: 64px;
    }
    .learning-content__img {
        max-width: 80px;
    }
    .learning-content__paragraph {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 33px;
    }
    .btn--large {
        max-width: 292px;
        padding: 22px 75px;
        font-size: 24px;
        line-height: 36px;
        border-radius: 5px;
    }
    .learning-img {
        max-width: 460px;
        width: 100%;
    }
    /* Skills */
    .skills__title {
        font-size: 36px;
        margin-bottom: 53px;
    }
    .skills-grid {
        gap: 12px;
    }
    .skills__item {
        padding: 0px 28px 32px 13px;
    }
    .skills__item--speaking {
        max-height: 696px;
    }
    .skills__item--writing {
        max-height: 531px;
    }
    .skills__item--reading {
        max-height: 441px;
    }
    .skills__item--listening {
        max-height: 241px;
    }
    .skills__item-title {
        font-size: 22px;
    }
    .skills__item-paragraph  {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 33px;
    }
    .btn--skills {
        max-width: 196px;
        max-height: 57px;
        padding: 15px 40px;
    }
}